@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter_18pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}


body {
	padding: 0;
    background-color: #fff;
	margin: 0;
}

body, input, button, textarea, select {
    font: inherit;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
}

html {
    font-family: Inter, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 0;
	margin: 0;
}


a {
	list-style: none;
	text-decoration: none;
	color: inherit;
	all: unset;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    padding: 0;
    margin: 0;
}


li::marker {
	display: none;
	content: '';
}

header {
    position: relative;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.container-outer {
    width: 100%;
}

.header-container-outer {
    background-color: #000000;
}

.header-container {
    color:#ffffff;
    display: flex;
    flex-direction: column;
}

.header-nav-con {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding-top: 10px;
}

.header-nav-left {
    display: flex;
    flex-direction: row;
}

.header-nav-logo {
    width: 65px;    
    height: 40px;
    background-color: #414040;    
}

.header-nav-catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.catalogue-container {
    padding: 7px 15px;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.catalogue-container:hover {
    background-color: #151515;
}


.header-nav-right ul{
    padding: 0;
    width: 217px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content:space-between ;    
}

.header-nav-icon a {
    display: flex;
    align-items: center;
}

.header-nav-icon img {
    padding-right: 3px;
}

.header-nav-icon a img {
    padding-right: 3px;
}

.header-search-bar-con{
    width: 100%;
    position: relative;
    height: 56px;
}

.header-search-bar-con-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 34px;
    display: flex;
    flex-direction: row;
    padding-bottom: 14px;
    padding-top: 5px;
} 

.header-search-bar-con-inner input, .header-search-bar-button {
    height: 34px;
    box-sizing: border-box;
    line-height: 34px;
}

.header-search-bar-con-inner input {
    width: 405px;
    border: 1px solid #ffffff;
    outline: none; 
    font-family: inherit;
    padding: 0 10px;
    background-color: #D9D9D9;
    color: #000000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-search-bar-con-inner input::placeholder {
    font-family: inherit;
    font-weight: 500;
    color:#4c4c4c;
    font-family: inherit;
    font-size: 12px;
}


.header-search-bar-button {
    width: 55px;
    border: 1px solid #FFA939;
    background: #FFA939;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.header-search-bar-button img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* <Section: cat-popup> */

.cat-popup {
    display: none;
    z-index: 10;
    position: absolute;
}

.cat-popup__container {
    height: 464px;
    min-width: 1080px;
    background-color: #fff;
    border: 1px solid #9e9e9e8b;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    position: relative;
}

.cat-popup__list{
    width: 275px;
    height:100%;
    overflow: scroll;
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE and Edge */
}

.cat-popup__list::-webkit-scrollbar {
    display: none;                /* Chrome, Safari */
}

.cat-popup__list ul {
    padding: 35px 31px 35px 33px;
}

.cat-popup__list ul li {
    position: relative;
    margin-bottom: 34px;
}

.cat-popup__list ul li:first-child {
    margin-top: 0;
}

.cat-popup__list ul li:last-child {
    margin-bottom: 0;
}

.cat-popup__list-1 {
    border-right: 1px solid #9e9e9e8b;
}

.cat-popup__list-2 {
    border-right: 1px solid #9e9e9e8b;
}

.cat-popup__list-2, .cat-popup__list-3 {
    display: none;
}

.cat-popup__list-title {
    font-size: 14px;
    line-height: 140%;
}

.cat-popup__list ul li svg {
    position: absolute;
    top: 0;
    right: 0;
}





/* Section: <Banner> */

.banner {
    margin-top: 60px;
}

.banner-container {
    width: 100%;
    margin-bottom: 92px;
    position: relative;
}

.banner-slider {
    width: 100%;
}

.banner-slider .slick-slide {
    position: relative;
    height: 500px;
}

.banner-slider .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

@media (max-width: 1664px) {
    /* .banner-slide-2 button {
        transform: translateX(calc(331.8px - (1665px - 100vw) * 0.133));
    } */
    .banner-slider .slick-slide img {
        object-fit: cover;
    }
}


.banner-button{
    height: 49px;
    width: 49px;
    background-color: #ffffff4c;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-arrow {
    position: absolute;
    right: 13%;
    bottom: 3%;
}

.banner-arrow-right {
    transform: translateX(64px);
}


.banner-next svg{
    transform: translateX(2px);
}

.banner-prev svg{
    transform: translateX(-2px);
}


.banner-slide-1 {
    background-color: #ffffff;
}

.banner-slide-2 {
    background-color: #ffffff;
}


/* Section: <Popular Items> */

.pop-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 69px;
}

.pop-top {
    padding-bottom: 40px;
    position:relative
}

.pop-title {
    font-size: 22px;
    padding-left: 20px;
}


.pop-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 21.5px;
    display: flex;
    gap: 61px;
    right: 22px;
}

.pop-button {
    position: relative;
    border: none;
    background: none;
    padding: 3px;
    line-height: 0;
    cursor: pointer;
}

.pop-next::before {
    left: calc(50% - 1px);
}
.pop-prev::before {
    left: calc(50% + 1px);
}

.pop-button::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background-color: #ff4f4f;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.3s;
}

.pop-button:hover path {
    fill: #fff;
}

.pop-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.pop-slider {
    width: 100%;
    margin: 0 auto;
}

.pop-slider-top {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-slider-top img{
    height:180px;
    width: 180px;
    object-fit: contain;
}

.pop-slider-center-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 107px;
}

.pop-slider-center {
    padding-left: 10px;
    padding-right: 10px;
}

.pop-slider-center a{
    font-size: 14px;
    color: #002877;
}


.pop-slider-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.pop-price {
    font-size: 18px;
    padding-top: 9px;
    padding-left: 10px;
    padding-bottom: 17px;
}

.pop-buy-button {
    height: 40px;
    width: 107px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14;
    color: #fff;
    border: 1px solid #FFA939;
    background-color: #FFA939;
    border-radius: 5px;
}





/* Section: <New Items> */

.new-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
}

.new-top {
    padding-bottom: 40px;
    position:relative
}

.new-title {
    font-size: 22px;
    padding-left: 20px;
}


.new-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 21.5px;
    display: flex;
    gap: 61px;
    right: 22px;
}

.new-button {
    position: relative;
    border: none;
    background: none;
    padding: 3px;
    line-height: 0;
    cursor: pointer;
}

.new-next::before {
    left: calc(50% - 1px);
}
.new-prev::before {
    left: calc(50% + 1px);
}

.new-button::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background-color: #ff4f4f;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.3s;
}

.new-button:hover path {
    fill: #fff;
}

.new-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}


.new-slider {
    width: 100%;
    margin: 0 auto;
}

.new-slide {
    width: 256px;
    height: 336px;
}

.new-slider .slick-slide {
    margin: 0 20px; 
    box-sizing: border-box;
}

.pop-slider .slick-slide {
    margin: 0 20px; 
    box-sizing: border-box;
}

.new-slider .slick-slide {
    border-radius: 5px;
    border: 1.4px solid #ffffff;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.new-slider .slick-slide:hover {
    border: 1.4px solid #FFA939;
}

.pop-slider .slick-slide {
    border-radius: 5px;
    border: 1.4px solid #ffffff;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}


.pop-slider .slick-slide:hover {
    border: 1.4px solid #FFA939;
}


.new-slider-top {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-slider-top img{
    height:180px;
    width: 180px;
    object-fit: contain;
}

.new-slider-center-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 107px;
}

.new-slider-center {
    padding-left: 10px;
}

.new-slider-center a{
    font-size: 14px;
    color: #002877;
}


.new-slider-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.new-price {
    font-size: 18px;
    padding-top: 9px;
    padding-left: 10px;
    padding-bottom: 17px;
}

.new-buy-button {
    height: 40px;
    width: 107px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14;
    color: #fff;
    border: 1px solid #FFA939;
    background-color: #FFA939;
    border-radius: 5px;
}


/* Section: <Categoties> */



.catg-container {
    padding-bottom: 80px;
}

.catg-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 50px 40px;
}

.catg-grid__cat a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catg-img-container {
    height: 195px;
    display: flex;
    align-items: center;
}

.catg-title {
    font-size: 26px;
    font-weight: 700;
    padding-top: 12px;
}



/* Section: <About us> */


.about-container {
    padding-bottom: 40px;
}

.about-text {
    width: 504px;
    height: 203px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-text__top {
}

.about-text__bottom {
    color: #424551;
    line-height: 140%;
    font-size: 16px;
    font-weight: 500;
}

.about-text__top-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #5E5E5E;
}

.about-text__top-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
}

/* Section: <Footer> */

.footer-container-outer {
    background-color: #000000;
}


.footer-container-inner {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.footer-top {
    height: 252px;
    padding-top: 69px;
    display: flex;
    align-items: flex-start;
}

.footer-bottom {
    height: 63px;
    margin-bottom: 40px;
    margin-top: 20px;
    border-top: 1px solid #616161;
    display: flex;
    justify-content: space-between;
}

.footer-top__elem1 {
    width: 175px;
    height: 185px;
    padding-right: 110px;
    padding-top: 38px;
}

.footer-top__elem2 {
    height: 252px;
    width: 158px;
    padding-right: 127px;
}

.footer-top__elem3 {
    height: 252px;
    width: 110px;
    padding-right: 220px;
}

.footer-top__elem4 {
    height: 95px;
    width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top__elem4-socials {
    width: 165px;
    display: flex;
    justify-content: space-between;
}

.footer-top__elem4-requisites {
    width: 143px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.visa {
    width: 67px;
    height: 26px;
}

.footer-bottom__left {
    padding-top: 20px;
    width: 262px;
    height: 42px;
}

.footer-bottom__right {
    width: 413px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #B1B1B1;
}

.footer-top__elem1-logo-area {
    height: 73px;
    background-color: #616161;
}

.footer-top__elem1-phone-number {
    padding: 27px 0 15px 0;
    font-size: 20px;
    line-height: 140%;
    color: #B1B1B1;
}

.footer-top__elem1-button {
    width: 175px;
    height: 36px;
    border: 1px solid #FFA939;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-top__elem1-button a {
    color: #FFA939;
    line-height: 140%;
    font-size: 14px;
}

.footer-top__elem2-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    padding-bottom: 12px;
}

.footer-top__elem2-list li{
    color: #B1B1B1;
    font-weight: 500;
    padding-bottom: 12px;
}

.footer-top__elem2-list li:last-child{
    padding-bottom: 0;
}


.footer-top__elem3-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    padding-bottom: 12px;
}

.footer-top__elem3-list li{
    color: #B1B1B1;
    font-weight: 500;
    padding-bottom: 12px;
}

.footer-top__elem3-list li:last-child{
    padding-bottom: 0;
}


.footer-bottom__our-shop {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.footer-bottom__our-shop-description {
    color: #B1B1B1;
    font-weight: 500;
    line-height: 140%;
}


/* Section: <Mfooter> */


.mfooter-container-outer {
    display : none;
}


.mfooter-container-outer {
    background-color: #000;
    height: 466px;
    color: #fff;
}


.mfooter-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 51px 0 32px 0;
}

.mfooter-top {
    padding-bottom: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mfooter-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.mfooter-bottom {
    padding-top: 38px;
    border-top: 1px solid #B1B1B1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mfooter-list-left {
    width: 327px;
    display: flex;
    flex-direction: column;
}

.mfooter-left-lists {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mfooter-list-right {
    width: 212px;
    display: flex;
    flex-direction: column;

}

.mfooter-right-lists { 
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mfooter-center-left {
    width: 158px;
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mfooter-center-right {
    width: 163px;
    height: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mfooter-bottom-right {
    color: #B1B1B1;
}

.mfooter-list-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    padding-bottom: 14px;

}

.mfooter-list li{
    font-weight: 500;
    color: #B1B1B1;
    padding-bottom: 14px;
}

.mfooter-list li:last-child{
    padding-bottom: 0px;
}

.mfooter-number {
    color: #B1B1B1;
    font-size: 18px;
}

.mfooter-button {
    width: 150px;
    height: 37px;
    border: 1px solid #FFA939;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mfooter-button a {
    color: #FFA42D;
    font-size: 14px;
}

.mfooter-socials {
    display: flex;
    gap: 17px;
}

.mfooter-requisites {
    display: flex;
    gap: 6.6px;

}

.mfooter-our-shop {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.mfooter-our-shop-description {
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    color: #B1B1B1;
    padding-bottom: 5px;
}

.mfooter-bottom__right-link1 {
    padding-bottom: 14px;
}

.mfooter-bottom-last-links {
    display: flex;
}

.mfooter-bottom__right-link2 {
    padding-right: 25px;

}


/* Section: <Mfooter> */


.sfooter-container-outer {
    display : none;
}

.sfooter-container-outer {
    background-color: #000000;
}

.sfooter-container-inner {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sfooter__help-button {
    margin: 30px 0;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sfooter__help-button-inner {
    display: flex;
}

.sfooter__help-button-inner svg{
    padding-right: 5px;
}

.sfooter__help-info {
    border-top: 1px solid #616161;
    border-bottom: 1px solid #616161;
    position: relative;
}

.sfooter__info-title {
    font-weight: 500;
    line-height: 140%;
    padding: 14px 0;
}


.sfooter__info-title::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-image: url('../icons/sfooter-more.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(20px) rotate(0deg);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.sfooter__info-title.active::after {
    transform: translateY(20px) rotate(45deg);
}

.sfooter__info-popup {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.sfooter__info-popup.active {
    max-height: 198px;
}

.sfooter__info-popup ul li{
    font-size: 10px;
    font-weight:500;
    line-height: 140%;
    padding-bottom: 10px;
    color: #B1B1B1;
}

.sfooter__info-popup ul li:last-child{
    padding-bottom: 16px;
}

.sfooter__cat-info {
    border-bottom: 1px solid #616161;
    position: relative;
}

.sfooter__main {
    border-bottom: 1px solid #616161;
}

.sfooter__bottom-info ul{
    color: #B1B1B1;
    border-bottom: 1px solid #616161;
    padding: 24px 0;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 12px;
}

.sfooter__bottom-info ul li {
    padding-bottom: 14px;
}

.sfooter__bottom-info ul li:last-child {
    padding-bottom: 0;
}


.sfooter__main-phone-number {
    font-size: 16px;
    line-height: 140%;
    padding-top: 24px;
}

.sfooter__main-us {
    padding: 34px 0;
}

.sfooter__main-bottom-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 34px;
}

.sfooter__help-button-text {
    color: #000;
    font-weight: 600;
}

.sfooter__main-our-shop {
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 5px;
}

.sfooter__main-description {
    color: #b1b1b1;
    font-weight: 500;
    font-size: 12px;
}

.sfooter__main-socials {
    display: flex;
    align-items: center;
    gap: 17px;
}

.sfooter__main-requisites {
    display: flex;
    align-items: center;
    gap: 6.63px;
}



/* Tempate: item-list  */


/* Section: <Toplist> */


.toplist {

}

.toplist__navigation {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;

}

.toplist__navigation svg{
    padding-right: 7px;
}

.toplist__heading-container {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.toplist__models-list {
    display: flex;
    flex-wrap: wrap;
    gap: 47px;
}

.toplist__heading {
    font-size: 40px;
    margin: 0;
}



.toplist__model {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toplist__model img{
    height: 86px;
    padding-bottom: 8px;
}

.toplist__model-name {
    text-align: center;
        font-size: 14px;
    width: 93px;
}


/* Section: <Products> */

.products__toolbar {
    padding: 24px 0 24px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__toolbar-left {
    display: flex;
    align-items: center;
}

.products__toolbar-left svg {
    padding-right: 2px;
}

.products__toolbar-right {
    display: flex;
    align-items: center;
}

.products__total {
    padding-right: 50px;
}

.products__sortby-container {
    display: flex;
    align-items: center;
}

.products__sortby {
    padding-right: 5px;
}

.products__item-cont {
    display: flex;
    margin-bottom: 71px;
}

.products__item-list {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 55px;
    row-gap: 73px;
    padding-left: 57px;
}

.products__item {
    width: 233px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1.4px solid #ffffff;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.products__item:hover {
    border: 1.4px solid #FFA939;
}

.products__item-image {
    padding: 20px 0 12px 0;
    display: flex;
    justify-content: center;
    caret-color: transparent;
}

.products__item-image img {
    height: 166px;
    outline: none;
}

.products__item-title {
    width: 215px;
    padding-bottom: 18px;
    font-size: 14px;
    text-align: center;
}

.products__item-bottom {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.products__item-price {
    padding: 0 0 18px 10px;
    font-size: 18px;
}

.products__buy-button {
    width: 117px;
    height: 49px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #FFA939;
}

.products__leftbar {
    min-width: 235px;
    padding-top: 30px;
}

.products__leftbar__submit-button {
    width: 100%;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    background-color: #FFA939;
    color: #fff;
}

.products__leftbar__reset-button {
    width: 100%;
    height: 35px;
    padding-top: 6px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    background-color: #fff;
}


.products__more {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.products__more-btn {
    width: 160px;
    height: 35px;
    border: 1px solid #FFA939;
    border-radius: 3px;
    color: #FFA939;
    font-size: 14px;
    font-weight: 500;    
}

.products__pagination {

}


.products__leftbar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.products__leftbar-item__title {
    font-size: 14px;
    font-weight: 500;
}





/* Медиа запросы */


@media (max-width: 1440px) {
    .container {
        max-width: 1080px;
    }
}

@media (max-width: 1200px) { 
    /* General */
    .container {
        padding: 0 40px;
    }

    .banner-slider .slick-slide { 
        height: 445px;
    }
    
    
    /* Section: Popular Items, New Items */
    .pop-container, .new-container {
        padding-bottom: 69px;
    }
    .pop-title, .new-title {
        font-size: 26px;
    }
    .new-slider-center a {
        display: -webkit-box;
        -webkit-line-clamp: 2;        /* количество строк */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 38px;
    }
    .pop-slider-center a {
        display: -webkit-box;
        -webkit-line-clamp: 2;        /* количество строк */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 38px;
    }
    .new-top, .pop-top {
        padding-bottom: 22px;
        padding-top: 10px;
    }

    
    /* Section: Categories */
    .catg-container {
        padding: 25px 45px 80px 45px;
    }
    .catg-grid {
        gap: 5px 10px;
    }
    .catg-img-container {
        height: 180px;
    }
    .catg-img-container img{
        max-height: 170px;
        width: auto;
    }
    .catg-title {
        font-size: 24px;
    }


    /* Section: About Us */
    .about-container {
        padding-bottom: 52px;
    }


    /* Section: Footer */
    .footer-top__elem3 {
        padding-right: 78px;
        width: 144px;
    }
    .footer-top__elem2 {
        width: 245px;
        padding-right: 83px;
    }

}

@media (max-width: 1025px) {
    
    /* Section: Header */
    .header-container-outer {
        height: 100%;
    }
    .header-search-bar-con {
        height: 78px;
    }    
    .header-nav-con {
        display: none;
    }
    .header-search-bar-con-inner {
        padding-top: 0;
        padding-bottom: 0;
        width: auto;
        height: auto;
    }
    .header-search-bar-con-inner input {
        width: 564px;
        height: 43px;
        font-size: 16px;
    }
    .header-search-bar-con-inner input::placeholder {
        font-size: 16px;
        font-weight: 400;
    }
    
    .header-search-bar-button {
        width: 56px;
        height: 43px;
    }
}


@media (max-width: 992px)  { 
    /* General */


    /* Section: Header */


    /* Section: Popular Items, New Items */


    /* Section: Categories */
    .catg-img-container img {
        max-height: 127px;
        max-width: 204px;
    }
    .catg-img-container {
        height: 137px;
    }
    .catg-title {
        padding-top: 6px;
        text-align: center;
        font-size: 20px;
    }


    /* Section: About Us */


    /* Section: Footer */
}

@media (max-width: 892px)  { 
    /* .container {
        padding: 0 28px;
    } */

    .banner-slider .slick-slide { 
        height: 376px;
    }
    
    .footer-container-outer {
        display: none;
    }
    .mfooter-container-outer {
        display: block;
    }
    .header-search-bar-con-inner input {
        width: 55vw;
    }
    .pop-slider-center-end, .new-slider-center-end {
        height: 100px;
    }
    .pop-price, .new-price {
        padding-top: none;
        padding-bottom: 7px;
    }
}

@media (max-width: 768px)  { 

    .container {
        /* padding: 0 18px; */
        padding-left: 18px;
        padding-right: 18px;
    }
    
    .header-search-bar-con {
        height:60px;
    }

    .header-search-bar-con input {
        width: 50vw;
        height: 36px; 
        font-size: 14px;   
    }

    .header-search-bar-con-inner input::placeholder {
        font-size: 14px;
    }

    .header-search-bar-button {
        height: 36px;
    }

    .footer-container-outer {
        display: none;
    }
    .mfooter-container-outer {
        display: none;
    }
    .sfooter-container-outer {
        display : block;
    }

    /* Section: <About Us> */
    .about-text__top-subtitle { 
        font-size: 14px;
    }

    .about-text { 
        width: 100%;
        height: auto;
    }

    .about-text__bottom { 
        height: 115px;
        overflow: scroll;
    }

    .about-text__top { 
        padding-bottom: 18px;
    }

    .about-text__top-title { 
        font-size: 20px;
    }

    /* Section: <Pop-items & New-items> */

    .pop-title, .new-title { 
        font-size: 22px;
    }
    .new-top, .pop-top { 
        padding-bottom: 20px;
    }


    /* Section: <Categories> */
    .catg-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 0px;
      }
      
      .catg-grid__cat {
        overflow: hidden;
      }

      .catg-title { 
        font-size: 22px;
      }
      
      .catg-img-container {
        height: 200px; 
      }
      
      .catg-img-container img {
        width: 100%;
        height: 100%;
        max-height: 173px;
        max-width: 216px;
        object-fit: contain;
        display: block;
      }

}
@media (max-width: 600px) {
    .banner-arrow {
        right:17%;
    }
}




@media (max-width: 480px)  { 
    .banner-slider .slick-slide {
        height: 270px;
    }
    .banner-arrow {
        display: none;
    }
    .catg-img-container img { 
        max-height: 126px;
        min-width: 159px;
    }
    .catg-img-container { 
        height: 147px;
    }
    .catg-grid { 
        gap: 35px 0;
    }
    .new-price, .pop-price { 
        font-size: 15px;
    }
    .new-buy-button, .pop-buy-button  {
        font-size: 12px;
        width: 89px;
        height: 38px;
    }
    .new-slider-top, .pop-slider-top {
        padding: 0;
        height: 220px;
        align-items: center;
    }
    .new-slider-top img, .pop-slider-top img { 
        max-height: 172px;
        max-width: 100%;
        object-fit: contain;
    }
    .pop-slider-center-end, .new-slider-center-end {
        height: 88px;
    }


}

@media (max-width: 414px)  {
    .banner-slider .slick-slide {
        height: 250px;
    }
    .banner-arrow {
        display: none;
    }
    .pop-button, .new-button {
        display: none;
    }
    .new-top, .pop-top { 
        display: flex;
        justify-content: center;
    }
    .banner-arrow {
        right:23%;
    }
    .pop-slider-top, .new-slider-top {
        height: 217px;
        padding-bottom: 10px;
    }
    .pop-slider-top img, .new-slider-top img  {
        max-width: none;
        max-height: none;
        width: 238px;
        height: 191px;
    }
    .pop-slider-center a, .new-slider-center a  {
        font-size: 16px;
        max-height: 39px;
    }
    .pop-buy-button, .new-buy-button {
        font-weight: 500;
        width: 120px;
        height: 44px;
        font-size: 15px;
    }
    .pop-slider-center-end, .new-slider-center-end{
        height: 127px;
    }
    .pop-price, .new-price  {
        font-size: 17px;
        padding-bottom: 16px;
        padding-left: 12px;
    }

    .pop-slider .slick-slide, .new-slider .slick-slide  {
        border: 1.4px solid #ffffff;
    }

    .pop-slider .slick-slide:hover, .new-slider .slick-slide:hover {
        border: 1.4px solid #FFA939;
    }
    .pop-title, .new-title {
        padding-left: 0px;
    }
    .pop-slide, .new-slide{
        overflow: hidden;
    }
}


@media (max-width: 400px) {
    .sfooter__main-bottom-links {
        display: block;
    }
    .sfooter__main-socials {
        padding-bottom: 7px;
    }
    .sfooter__main-bottom-links {
        padding-bottom: 24px;
    }
}

@media (max-width: 350px) {
    .banner-button {
        display: none;
    }
}