@font-face {
    font-family: "Roboto-Condensed-Bold";
    src:url("../../fonts/Roboto Condensed/static/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    background: #2b2b2b;
}

.link, .button {
    display: flex;
    align-items: center;       
    justify-content: center;
    background-color: #a0a0a0;
    font-family: "Roboto-Condensed-Bold";
    margin: 60px auto;
    width: 400px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
}

.input {
    display: flex;
    width: 100%;
    padding: 1em;
    margin: 60px auto;
    width: 370px;
    height: 10px;
    font-size: 20px;
    font-family: "Roboto-Condensed-Bold";
}

.list_container {
    margin: 0 40px;
    font-family: "Roboto-Condensed-Bold";
    color: #d1d1d1;
}

/* -------------------------------- */

.link:visited {
    background-color: #d9e538;
}

.link:hover {
    background-color: #93dc57;
}

.link:active {
    background-color: #37beca;
}

.input:focus {
    box-shadow: 0 0 10px 10px #636363;
}

/* ---------------------------------------------- */

.list__item:first-child {
    color: red;
}

